#contact-slide {
    height: 100%;
    width: 100%;
    background-color: black;
    top: unset;
}

.contact-container {
    float: right;
    width: calc(50% - 30px);
    display: inline-block;
    text-align: right;
    transition: transform 1s 1s ease-in;
    transform: translateX(350px);
}

.contact-container.isActive {
    transform: translateX(0);
}

.contact-title {
    top: 4rem;
    right: 4rem;
    position: absolute;
    transform: translateY(-10%);
    font-family: 'klav-light', Arial, sans-serif;
    font-size: 5rem;
    color: white;
    text-decoration: underline;
}

.text-container {
    position: absolute;
    top: calc((100vh - 100px) / 2);
    right: 5rem;
    transform: translateY(-50%);
    text-transform: none;
}

.mm-link {
    color: white;
}

.socials {
    display: inline-flex;
    font-size: 2rem;
    margin-top: 2.5rem;
    color: white;
}

.social-container {
    display: inline-flex;
}

.social-container > p {
    margin-right: 1rem;
}

i {
    margin: 0 1rem;
}



