.contact-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 50rem;
    color: black;
    text-align: right;
    transition: transform 2.5s var(--ease-out-expo);
    transform: translateX(100%);
}

.contact-container.isActive {
    transform: translateX(0);
    transition-delay: 0s;
}

.contact-title {
    top: 4rem;
    right: 4rem;
    position: absolute;
    transform: translateY(-10%);
    font-family: 'klav-light', Arial, sans-serif;
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.text-container {
    position: absolute;
    top: calc((100vh - 100px) / 2);
    right: 5rem;
    transform: translateY(-50%);
    text-transform: none;
}

.mm-link {
    color: white;
}

.socials {
    display: inline-flex;
    font-size: 2rem;
    margin-top: 2.5rem;
    color: white;
}

.social-container {
    display: inline-flex;
}

.social-container > p {
    margin-right: 1rem;
}

i {
    margin: 0 1rem;
}

@media only screen and (max-width: 840px) {
    .contact-container {
        max-width: 60vw;
    }
}




