.splash {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 69 !important;
    color: white;
    text-align: center;
}

.splash.fade-out {
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
    pointer-events: none;
}

.monk-container {
    position: relative;
}

.monk-container:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 30rem;
    z-index: -1;
    background: radial-gradient(rgba(255,255,0,0.3), transparent 70%);
    opacity: 0;
    transition: opacity 2s;
}

.monk {
    height: 13.5rem;
    width: 9rem;
}

.monk-container.scale:before {
    opacity: 1;
}

.monk-container.scale .monk {
    transform-origin: bottom;
    animation: scaleIn 0.4s ease-in forwards, bounce 0.8s 0.4s ease-in-out forwards;
}

.splash-text {
    font-family: 'klav-light', Arial, sans-serif;
    font-size: 3rem;
    font-style: italic;
    margin-top: 1rem;
    white-space: nowrap;
    transform: translateX(11rem);

    display: flex;
}

.initial-text {
    overflow: hidden;
    padding-right: 1rem;
    transform: scale(0);
    position: relative;
}

.secondary-text {
    position: relative;
    overflow: hidden;
}
.secondary-text-inner {
    transform: translateX(-100%);
}

.splash-text.scale .initial-text {
    animation: scale-easeOutElastic 1s forwards;
}

.splash-text.transition {
    transform: translateX(0);
    transition: transform 1s ease-out;
}

.splash-text.transition .secondary-text div {
    transform: translateX(0);
    transition: transform 1s ease-out;
}

@keyframes scaleIn {
    0% { transform: scale(0.0); opacity: 0;}
    100% { transform: scale(1.0); opacity: 1;}
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    40%  { transform: translateY(-2rem); }
    60%  { transform: translateY(0); }
    80%  { transform: translateY(-1rem); }
    100% { transform: translateY(0); }
}

@keyframes scale-easeOutElastic {
    0% {transform: scale(0);}
    16% {transform: scale(1.2);}
    28% {transform: scale(0.87);}
    44% {transform: scale(1.05);}
    59% {transform: scale(0.98);}
    73% {transform: scale(1.01);}
    88% {transform: scale(1);}
    100% {transform: scale(1);}
}




