
/*Styles CSS*/
* {
    margin: 0;
    padding: 0;
    /*background: #000;*/
}

:root{
    --base-fontsize: 10;
    --base-design-width: 1920;
}

::-webkit-scrollbar {
    display: none;
}

html {
    /*Base font size based of viewport width (1920px) for using rems*/
    font-size: calc(var(--base-fontsize)/var(--base-design-width) * 100vw);
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 69;
    color: #fff;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.monk {
    height: 13.5rem;
    width: 9rem;
    transform-origin: bottom;
    animation: scaleIn 2s ease-in, bounce 0.7s 2s ease-in-out;
}
@keyframes scaleIn {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    40%  { transform: translateY(-30px); }
    60%  { transform: translateY(0); }
    80%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

.splash-text {
    font-family: 'klav-light', Arial, sans-serif;
    font-size: 3rem;
    font-style: italic;
    width: 100%;
    position: fixed;
    top: 5rem;

}

.splash-text:before {
    content: 'Patience!';
    display: block;
    animation: fadeIn 4s 2s cubic-bezier(0.22, 0.58, 0.48, 1.51) forwards, scaleIn 3s 1s cubic-bezier(0.22, 0.58, 0.48, 1.51) forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    40%  { opacity: 0.5; }
    60%  { opacity: 1;}
    80%  { opacity: 1;}
    100% { opacity: 1; content: "Patience, young padawan..."}
}

/*.fade-in {*/
/*    opacity: 0;*/
/*    animation: fadeIn 2s ease-in forwards;*/
/*}*/

.outer-wrapper {
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    /*Hiding scrollbar*/
    scrollbar-width: none;
    -ms-overflow-style: none;

    height: 100%;
    width: 100%;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-bg {
    height: 100%;
    position: absolute;
    transition: transform 1s ease-in-out;

}

.carousel-list {
    height: 100%;
    width: 100%;
    display: flex;
}

.carousel-item {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

    text-transform: uppercase;
    text-decoration: underline;
    list-style-type: none;

    color: white;
    font-family: 'klav-light', Arial, sans-serif;
    font-size: 5rem;
    opacity: 0;
}

.carousel-item.isActive {
    opacity: 1;
}

.carousel-item[align='left'] {
    left: 10%;
}
.carousel-item[align='right'] {
    right: 10%
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    border: 2px solid white;
    cursor: pointer;
    opacity: 0.8;
}

.arrow:hover {
    opacity: 1;
}

.arrow-left {
    left: 5rem;
    border-right: none;
    border-top: none;
    transform: rotate(45deg);
}

.arrow-right {
    right: 5rem;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}



.bg {
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 600vw 100vh;
}

/*Footer styles*/
footer {
    height: 100px;
    width: 100vw;
    /*background: mediumpurple;*/
    display: flex;
    position: absolute;
    bottom: 0;
}

.flex-left {
    width: 50%;
    padding: 15px;
}

.flex-right {
    width: 50%;
    padding: 15px;
    text-align: right;
}

p {
    font-size: 10px;
    font-family: 'klav-light', Arial, sans-serif;
    color: white;
}

nav {
    width: 100%;
    max-width: 35rem;
    font-size: 2rem;
    line-height: 10px;
    border: 2px dotted #fff;
    margin: 2rem;
    margin-left: 0;
    height: 3rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    /*justify-items: center;*/
}

.item {
    border-right: 2px dotted white;
    font-family: 'klav-light', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    
}

.item:last-of-type {
    border-right: none;
}

.icon {
    filter: invert(100%);
    width: 100%;
    max-width: 12rem;
}


/*Fonts added locally*/
@font-face {
    font-family: 'klav-bold';
    src:  url('assets/font/klavika-bold-webfont.woff') format('woff')
}

@font-face {
    font-family: 'klav-light';
    src:  url('assets/font/klavika-light-webfont.woff') format('woff')
}

@font-face {
    font-family: 'klav-medium';
    src:  url('assets/font/klavika-medium-webfont.woff') format('woff')
}

@font-face {
    font-family: 'klav-regular';
    src:  url('assets/font/klavika-regular-webfont.woff') format('woff')
}