
/*Styles CSS*/
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'klav-bold', Arial, sans-serif;
}

.outer-wrapper {
    /*These will be transformed so h and w are mixed*/
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;

    /*Hiding scrollbar*/
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    /*calc total width of slides combined*/
    width: 700vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.slide {
    width: 600vw;
    height: 100vw;
}

.bg {
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 600vw 100vh;
}

.firstSlide {
    display: flex;
    margin: 1em;
    width: 100vw;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    font-family: 'klav-light', Arial, sans-serif;
    font-size: calc(1.5rem + ((1vw - 0.48em) * 4.1667));

}

p {
    font-size: 10px;
    font-family: 'klav-light', Arial, sans-serif;
    color: white;
}


/*Fonts added locally*/
@font-face {
    font-family: 'klav-bold';
    src:  url('assets/font/klavika-bold-webfont.woff') format('woff')
}

@font-face {
    font-family: 'klav-light';
    src:  url('assets/font/klavika-light-webfont.woff') format('woff')
}

@font-face {
    font-family: 'klav-medium';
    src:  url('assets/font/klavika-medium-webfont.woff') format('woff')
}

@font-face {
    font-family: 'klav-regular';
    src:  url('assets/font/klavika-regular-webfont.woff') format('woff')
}